
@{
    ViewBag.Title = "Index";
}

<!-- Introduction Page -->
<!doctype html>
<html lang="en">
<head>
    <title>Budget Calculator</title>
</head>
<!-- Fancy Title "Student Budget Calculator" -->
<body>
    <div class="subBody">
        <div class="mainPageContainer">
            <h2 class="mainHeader">
                <span class="title-word title-word-1">Student</span>
                <span class="title-word title-word-2">Expenditure</span>
                <span class="title-word title-word-3">Calculator</span>
                <span class="title-word title-word-4">!</span>
            </h2>
        </div>
        <br>
        <br>
        <div class="mt-2 text-center text-white mb-4"> Calculate How Much Money You Will Be Spending In 3 Years </div>
        <div class="text-center ">
            <img src="~/Galery/Images/ShoppingList2.png" class="img-fluid" alt="pictureShoppinngList2.png" width="550" height="400">
        </div>
        <!-- Instructions for using the web application -->
        <div class="instruction mt-4">
            <p> *Fill in the blanks with how much money you spend (in euros) for each topic. </p>
            <p>*Answer according to categories: monthly expenditure, monthly income and one time purchases.</p>
            <p>*Click at "CALCULATE" when you are done.</p>
            <p>*Do not click at "add" to categories with 0 as your result</p>
            <p>*Only click at "add" once unless you want the number to be put twice</p>
            <p>*Witness your own crime scene</p>
        </div>
        <br class="m-3">
        <div class="text-center">
            <a href="/BudgetCalculator/BasePage" class="btn btn-dark m-5">Start</a>
        </div>
    </div>
</body>
</html>