
@{
    ViewBag.Title = "HelpPage";
}

<!-- Help and Conctact text -->
<div class="helpText">
    <div class="mt-5">
        <h1>HELP</h1>
        <p>
            *All of the monthly topics must be answered on monthly payement amounts <br>
            *Click at "ADD" button only once, if you click it more than once, it will display 2 different categories<br>
            *The "Other" topic can be used in any way user wants (as long as the period is correct) <br>
            *One time purchases must be answered according to the 3 year period. <br>
            *You can add your own categories from the right hand corner<br>
            *Do not add categories if you leave them at 0<br>
        </p>

        <h1>CONTACT</h1>
        <p>
            Email 1: Hueseyin.Oeztuerk@iu.study.org <br>
            Email 2: Kinghusoza@gmail.com <br>
            Email 3: Hsynztrk3583@gmail.com <br>
        </p>

        <address>
            Adress 1: ------------------------------------------------------------- <br>
            Adress 2: --------------------------------------------------------------<br>
            Adress 3: --------------------------------------------------------------<br>
            Company: -------------------------------------------------------------<br>
        </address>

        <h1>ABOUT</h1>
        <p>
            Hello, my name is Hüseyin, im a new computer science student at IU internationale hoschule, Berlin <br>
            I developed this page as part of my Java and Web Development Project. I spent a lot of effort on this website, <br>
            however I do realize it has a long way to go, this is my first website and I had prior lessons about web development<br>
            however they were not as extensive as this project <br>
            Hope you enjoy it, don't forget to contact me for feedback. (This was written to conceptualize what <br>
            this page would have been about)<br><br>
        </p>
    </div>
</div>


